doctype html
html
  head
    title #{title} - CCM in the Cloud
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Core Configuration Manager
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus